body::-webkit-scrollbar {
	display: none;
}
body {
	-ms-overflow-style: none;
}
* {
	margin: 0;
	padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
	font-family: 'Noto Sans TC', sans-serif;
	letter-spacing: 4px;
}
.banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.803), rgba(0, 0, 0, 0.189)), url("ecom/p1.jpg");
	height: 100vh;
	background-position: center;
	background-size: cover;
}
.logo {
	width: 170px;
	position: absolute;
	left: 5%;
	top: 3%;
}
.navbar {
	width: 92%;
	padding: 25px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.navbar ul ul {
	position: absolute;
	top: 30px;
	display: none;
	transition: 0.5s;
}
.navbar ul ul li{
	width: 96px;
	height: 30px;
	float: none;
	list-style: none;
	display: list-item;
	position: relative;
	left: -15px;
}
.navbar ul li {
	font-weight: 600;
	list-style: none;
	position: relative;
	display: inline-block;
	font-size: 20px;
	margin: 15px 15px;
	transition: 0.3s;
}
.navbar ul li:hover > ul{
	display: block;
}
.navbar ul li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	transition: 0.3s;
}
.navbar .img-link li a{
	color: #fff;
}
.navbar .img-link li a:hover {
	color: #ff1e1e;
}
.navbar .word-link li::after {
	content: '';
	position: absolute;
	width: 0;
	height: 4px;
	left: 47.5%;
	top: 30px;
	background: rgba(255, 255, 255, 0);
	transition: 0.3s;
}
.navbar ul li:hover::after {
	left: 0;
	width: 97%;
	background: rgb(255, 255, 255);
}
.main-title {
	top: 35%;
	left: 40%;
	position: absolute;
	text-align: center;
	align-items: center;
	color: white;
}
.main-title h1 {
	font-size: 100px;
	transition: 0.5s;
}
.main-title p {
	font-size: 24px;
	font-weight: 400;
}
.intro {
	background: rgb(0, 0, 0);
	text-align: center;
	padding-top: 50px;
	width: 100%;
	height: 100vh;
	margin: auto;
}
.title h1 {
	color: rgb(255, 255, 255);
	font-size: 60px;
	font-weight: 550;
}
.title p {
	color: #fff;
	font-size: 18px;
}
.intro h1::after {
	content: '';
	position: absolute;
	width: 0;
	height: 4px;
	left: 47.5%;
	top: 55px;
	background: rgba(255, 255, 255, 0);
	transition: 0.4s;
}
.intro h1:hover::after {
	left: 0;
	width: 100%;
	background: rgb(255, 255, 255);
}
.intro-row {
	margin-top: 5px;
	position: relative;
}
.intro-col {
	cursor: pointer;
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	box-shadow: 0 0 18px rgba(255, 255, 255, 0.375);
	transition: 0.5s;
}
.intro-col:hover {
	box-shadow: 0px 0px 48px rgb(114, 182, 255);
	background: rgba(48, 145, 255, 0.749);
}
.intro h3 {
	transform: translateY(30%);
	color: #fff;
	text-align: center;
	margin: 25px;
	font-size: 24px;
}
.intro-row p {
	color: #fff;
	transform: translateY(30%);
	margin: 18px;
	font-size: 18px;
}
/*聯絡*/
.contact {
	z-index: 10;
	position: fixed;
	right: 1.5vw;
	bottom: 2.5vh;
}
.contact a {
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 23px;
	color: #fff;
	text-decoration: none;
	transition: 0.4s;
}
.fb:hover {transform: scale(1.24);color: rgb(0, 119, 255);}
.yt:hover {transform: scale(1.24);color: #ff1e1e;}
.mail:hover {transform: scale(1.24);color: rgb(255, 251, 31);}
/*以下是第二頁*/
.about{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: flex-end;
 }
/*右半部文字部分*/
.about-text{
    width: 80vw;
    height: 70vh;
    padding-top: 140px;
    transform: translateX(11%);
}
.main{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.about-text h2{
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 5px;
    font-size: 22px;
    margin-bottom: 25px;
}
.about-text p{
    color: rgba(170, 175, 255, 0.8);
    letter-spacing: 5px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 25px;
}
button{
    background-color: rgb(0, 119, 255);
    font-size: 105%;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(0, 119, 255);
    cursor: pointer;
}
/*左半部圖片部分*/
input[type=radio] {
    display: none;
  }
  .card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: -10vw;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
  }
  .container {
    transform: translateX(13%);
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    position: relative;
    width: 130%;
    height: 100%;
  }
  .cards img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 25px 30px rgba(255, 255, 255, 0.6);
    object-fit: cover;
  }
  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }
  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  }
  #item-1:checked ~ .cards #song-1 img, #item-2:checked ~ .cards #song-2 img, #item-3:checked ~ .cards #song-3 img {
    box-shadow: 0px 25px 30px rgba(255, 255, 255, 0.3);
  }

  .service{
    background: #000;
	padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: auto;
    font-size: 140%;
}
.service .box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding-top: 90px;
}
.service .cards{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 30px;
    position: relative;
    overflow: hidden;
    text-align: center;
	transition: 0.5s;
}
.service .cards:hover{
	box-shadow: 15px 15px 30px rgba(255, 255, 255, 0.3);
}
.service .cards i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 2px;
    color: rgb(0, 119, 255);

}
.service .cards h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.service .pra p{
    color: #fcfc;
    line-height: 27px;
    margin-bottom: 53px;
}
.cards .button{
    background-color: rgb(0, 119, 255);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}
.cards .button:hover{
    background-color: transparent;
    border: 2px solid rgb(0, 119, 255);
    cursor: pointer;
}
.bt-message{
  padding: 100px 300px;
  background: #101010;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.contact-text h4{
  color: #fff;
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}
.contact-text h2{
  color: #fff;
  line-height: 1;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.contact-text p{
  color: #fff;
  line-height: 1.8;
  margin-bottom: 30px;
}
.contact-form form{
  position: relative;
}
.contact-form form input,form textarea{
  width: 100%;
  padding: 14px;
  margin: 5px;
  background: #4b4b4b4b;
  color: #fff;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 109x;
  border-bottom: 0px solid rgb(0, 119, 255);
  transition: 0.1s;
}
.contact-form textarea {
  resize:  none;
  height: 240px;
}
.contact-form textarea:focus{
  border-bottom: 3px solid rgb(0, 119, 255);
}
.contact-form input:focus{
  border-bottom: 3px solid rgb(0, 119, 255);
}

.contact-form .submit{
    background-color: rgb(0, 119, 255);
    color: white;
    width: 160px;
    font-size: 1.2rem;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.4s;
}
.contact-form .submit:hover{
    background-color: transparent;
    border: 2px solid rgb(0, 119, 255);
    cursor: pointer;
}
.end{
  padding: 10px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: #292929;
}
.last-text p{
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}
.back{
  padding: 10px 13px;
  border-radius: 8px;
  font-size: 15px;
  color: #fff;
  background: rgb(0, 119, 255);
  transition: 0.3s;
  cursor: pointer;
}
.back:hover{
  background: rgb(0, 47, 255);
}
.back i {
 transform: translateX(10%);
 color: #fff;
}